@model CvSystem.Web.ViewModels.Edit.CertificationEditModel

<div class="col-md-8 col-md-offset-2 form-group">
    <div class="col-md-3">
        @Html.LabelFor(m => m.CertificateName, new { @class = "control-label" })
    </div>
    <div class="col-md-9">
        @Html.ValidationMessageFor(m => m.CertificateName, "", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.CertificateName, new { @class = "form-control" })
    </div>
</div>
<div class="col-md-8 col-md-offset-2 form-group">
    <div class="col-md-3">
        @Html.LabelFor(m => m.Authority, new { @class = "control-label" })
    </div>
    <div class="col-md-9">
        @Html.ValidationMessageFor(m => m.Authority, "", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.Authority, new { @class = "form-control" })
    </div>
</div>
<div class="col-md-8 col-md-offset-2 form-group">
    <div class="col-md-3">
        @Html.LabelFor(m => m.LicenseNumber, new { @class = "control-label" })
    </div>
    <div class="col-md-9">
        @Html.ValidationMessageFor(m => m.LicenseNumber, "", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.LicenseNumber, new { @class = "form-control" })
    </div>
</div>
<div class="col-md-8 col-md-offset-2 form-group">
    <div class="col-md-3">
        @Html.LabelFor(m => m.CertificateUrl, new { @class = "control-label" })
    </div>
    <div class="col-md-9">
        @Html.ValidationMessageFor(m => m.CertificateUrl, "", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.CertificateUrl, new { @class = "form-control" })
    </div>
</div>
<div class="col-md-8 col-md-offset-2 form-group">
    <div class="col-md-3">
        @Html.LabelFor(m => m.From, new { @class = "control-label" })
    </div>
    <div class="col-md-9">
        @Html.ValidationMessageFor(m => m.From, "", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.From, new { @class = "form-control datepicker" })
    </div>
</div>
<div class="col-md-8 col-md-offset-2 form-group">
    <div class="col-md-3">
        @Html.LabelFor(m => m.To, new { @class = "control-label" })
    </div>
    <div class="col-md-9">
        @Html.ValidationMessageFor(m => m.To, "", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.To, new { @class = "form-control datepicker" })
    </div>
</div>
<div class="col-md-8 col-md-offset-2">
    <hr />
</div>

